[submodule "class7OS/am-kernels"]
	path = class7OS/am-kernels
	url = https://github.com/NJU-ProjectN/am-kernels.git
[submodule "class7OS/abstract-machine"]
	path = class7OS/abstract-machine
	url = https://github.com/NJU-ProjectN/abstract-machine.git
